body {
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: lime;
    margin: 0 auto;
}

#container h1 {
    font-style: 20px;
}